about==4.2.0
asn1crypto==0.22.0
avro==1.7.6
aws==4.2.0
aws-cfn-bootstrap==1.4
awscli==1.14.9
azure==4.2.0
Babel==0.9.6
BabelDjango==0.2.2
backports.csv==1.0.2
backports.ssl-match-hostname==3.4.0.2
beautifulsoup4==4.4.1
beeswax==4.2.0
boto==2.46.1
botocore==1.8.13
cffi==1.5.2
chardet==2.0.1
cloud-init==0.7.6
colorama==0.2.5
configobj==4.7.2
cryptography==1.3.1
dashboard==3.12.0
defusedxml==0.4.1
desktop==4.2.0
Django==1.6.10
django-auth-ldap==1.2.0
django-axes==1.5.0
django-extensions==1.5.0
django-nose==1.3
django-openid-auth==0.5
djangosaml2==0.16.4
docutils==0.11
ecdsa==0.11
elementtree==1.2.6.post20050316
enum==0.4.4
enum-compat==0.0.2
eventlet==0.21.0
filebrowser==4.2.0
future==0.16.0
futures==3.0.3
greenlet==0.4.12
gunicorn==19.7.1
guppy==0.1.10
hadoop==4.2.0
help==4.2.0
hibagent==1.0.0
httplib2==0.8
importlib==1.0.3
indexer==4.2.0
iniparse==0.3.1
jdcal==1.0
Jinja2==2.7.2
jmespath==0.7.1
jobbrowser==4.2.0
jobsub==4.2.0
jsonpatch==1.2
jsonpointer==1.0
kazoo==2.0
kerberos==1.1.1
kitchen==1.1.1
liboauth==4.2.0
liboozie==4.2.0
libopenid==4.2.0
librdbms==4.2.0
libsaml==4.2.0
libsentry==4.2.0
libsolr==4.2.0
libzookeeper==4.2.0
lockfile==0.8
lxml==3.3.6
Mako==0.8.1
Markdown==2.0.3
MarkupSafe==0.9.3
metadata==4.2.0
metastore==4.2.0
MySQL-python==1.2.5
mysqlclient==1.3.7
navoptapi==0+untagged.4944.g4b9a5db.dirty
ndg-httpsclient==0.4.0
nltk==3.2
nose==1.3.4
notebook==4.2.0
numpy==1.14.5
oauth2==1.5.211
oozie==4.2.0
openpyxl==2.3.0b2
ordereddict==1.1
pam==0.1.3
paramiko==1.15.1
parquet==1.1
Paste==2.0.1
pig==4.2.0
ply==3.9
proxy==4.2.0
py4j==0.9
pyasn1==0.1.8
pycparser==2.14
pycrypto==2.6.1
pycryptodomex==3.4.7
pyformance==0.3.2
Pygments==1.3.1
pyOpenSSL==0.15.1
pysaml2==4.4.0
pysqlite==2.5.5
pystache==0.5.3
python-daemon==1.5.1
python-dateutil==2.4.2
python-ldap==2.3.13
python-openid==2.2.5
python27-sagemaker-pyspark==1.1.3
pytidylib==0.2.1
pytz==2015.2
PyYAML==3.11
requests==2.10.0
requests-kerberos==0.6.1
rsa==3.4.2
sasl==0.1.1
search==4.2.0
simplejson==2.0.9
six==1.9.0
South==1.0.2
spark==4.2.0
sqlparse==0.2.0
tablib==0.10.0
thrift==0.9.1
thriftpy==0.3.9
urlgrabber==3.10
urllib2-kerberos==0.1.6
urllib3==1.8.2
useradmin==4.2.0
virtualenv==15.1.0
windmill==1.6
